In [3]:
'single quotes'

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-3-377b842804df>, line 1)

In [4]:
"double quo''''''''tes"

"double quo''''''''tes"

In [5]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [14]:
a = "Hello, World!"
print(a[::-1])

!dlroW ,olleH

In [15]:
str ="P y t h o n J A V A  C++"
l=

SyntaxError: invalid syntax (<ipython-input-15-b4dcd503e6f6>, line 2)

In [11]:
a="Divyanshu"
a=a[8]+a[0:]
a

'uDivyanshu'

In [25]:
a = "Dutipr"
len(a)

6

In [28]:
b = "Krishna"
print(b[-7:100])

Krishna

In [32]:
a = "        Hello,                   World!                  "
print(a.strip()) #Remove Space

Hello,                   World!

In [37]:
a = "HELLO, World!"
print(a)
print(a.upper())
print(a)
a=a.lower()
print(a)

HELLO, World!
HELLO, WORLD!
HELLO, World!
hello, world!

In [2]:
a = "Hello, World!"
print(a.replace("ll", "Dhritiman"))
print(a)
a=a.replace("H", "J")
print(a)

HeDhritimano, World!
Hello, World!
Jello, World!

In [59]:
a = "ABC"
print(a.split("AB"))

['', 'C']

In [61]:
txt = "The rain in Spain stays mainly in the plain"
x = "Speutrwyhejwjq3w4jhjain" in txt
print(x)

False

In [71]:
a=10
b="Python"
c="{}  {}"
print(c.format(b,a,a,a,a,a,a,a))

Python  10

In [96]:
a=133
b="233"
d="333"
e="443"
c=" {1} {0}  {3} {2} "
print(c.format(a,b,e,d))

 333 443  233 133

In [58]:

b="Python"
c="{p} {q} "
print(c.format(p=a,q=b))

10 Python

In [74]:
yt = 'hello #  my name is  # Soumyadip'

In [70]:
    tr.split('#')

['hello ', '  my name is  ', ' Soumyadip']

In [25]:
tr.split('#')[1]

'  my name is  '

In [73]:
'Soumyadip' in yt

True